/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 767.98px) {
	.main-navigation {
		margin-bottom: 1em;

		a {
			color: #666;
			display: block;
			padding-top: 8px;
			padding-bottom: 8px;
			:hover {
				color: #000;
			}
		}

		li {
			text-align: left;
			border-top: 1px solid #eee;
			li {
				padding-left: 20px;
			}
		}

		.primary-menu {
			border-bottom: 1px solid #eee;
			margin-top: 20px;
			ul {
				.toggled {
					display: block;
				}
			}
			li {
				position: relative;
			}

			.menu-item-has-children, .page-item-has-children {
				a {
					padding-right: 40px;
				}
			}
		}
	}

	.js .main-navigation ul {
		display: none;
	}

	.header-search {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.submenu-toggle {
		position: absolute;
		right: 0;
		top: 0;
		background: transparent;
		width: 40px;
		height: 40px;
		font-size: 1em;
		text-align: center;
		padding: 0;
		border: 0;

		.icon {
			opacity: 0.5;
		}

		&.toggled {
			.icon {
				transform: rotate(-180deg);
			}

			& + .sub-menu {
				display: block;
			}
		}
	}


	.no-js .menu-toggle {
		display: none;
	}

	[amp] .menu-toggle {
		display: inline-block;
	}

	[amp] .primary-menu,
	[amp] .primary-menu ul {
		display: none;
	}
}

@media (min-width: 768px) {
	.primary-menu ul {
		background-color: #333;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
	}

	.submenu-light .primary-menu ul {
		background-color: #f4f4f4;
	}

	.primary-menu ul ul {
		left: -999em;
		top: 0;
	}

	.primary-menu ul li:hover > ul,
	.primary-menu ul li.focus > ul {
		left: 100%;
	}

	.primary-menu ul li:focus-within > ul {
		left: 100%;
	}

	.primary-menu ul a {
		width: 200px;
		padding: 10px 16px;
		font-size: 0.9em;
		color: #aaa;
		line-height: 1.4;
	}

	.submenu-light .primary-menu ul a {
		color: #888;
	}

	.primary-menu ul a:focus {
		outline: thin dotted;
	}

	.primary-menu ul li:hover > a,
	.primary-menu ul li.focus > a,
	.primary-menu ul li.current_page_item > a,
	.primary-menu ul li.current-menu-item > a,
	.primary-menu ul li.current_page_ancestor > a,
	.primary-menu ul li.current-menu-ancestor > a {
		color: #fff;
	}

	.submenu-light .primary-menu ul li:hover > a,
	.submenu-light .primary-menu ul li.focus > a,
	.submenu-light .primary-menu ul li.current_page_item > a,
	.submenu-light .primary-menu ul li.current-menu-item > a,
	.submenu-light .primary-menu ul li.current_page_ancestor > a,
	.submenu-light .primary-menu ul li.current-menu-ancestor > a {
		color: #333;
	}

	.primary-menu li:hover > ul,
	.primary-menu li.focus > ul {
		left: auto;
		transform: scaleY(1);
	}

	.primary-menu li:focus-within > ul {
		left: auto;
	}

	.primary-menu li {
		position: relative;
	}

	.primary-menu li li {
		text-align: left;
	}

	.primary-menu > li {
		display: inline-block;
		vertical-align: middle;
	}

	.primary-menu > li > ul {
		transition: all .25s ease-out;
		transform: scaleY(0);
		transform-origin: top center;
	}

	.primary-menu a {
		display: block;
		text-decoration: none;
		color: #555;
	}

	.primary-menu > li > a {
		height: 25px;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.8em;
		padding: 0 10px;
		margin: 12px 0;
		border-radius: 20px;
	}

	.primary-menu > li:first-child > a {
		margin-left: 0;
	}

	.primary-menu li > a:after {
		margin-left: 10px;
		opacity: 0.5;
	}

	.primary-menu > li > a:after {
		display: inline-block;
		content: '\203A';
		transform: rotate(90deg);
		font-size: 1.5em;
		vertical-align: middle;
	}

	.primary-menu li > a:only-child:after {
		content: '';
		margin: 0;
	}

	.primary-menu li li > a:after {
		content: '\203A';
		position: absolute;
		right: 10px;
	}

	.primary-menu > li.current-menu-item > a,
	.primary-menu > li.current_page_item > a,
	.primary-menu > li.current_page_ancestor > a,
	.primary-menu > li.current-menu-ancestor > a {
		background-color: rgba(0, 0, 0, 0.04);
	}

	.primary-menu > li:hover > a {
		color: #fff;
		background-color: #ce405a;
	}

	li.header-search {
		width: 34px;
		position: static;
		margin-left: 5px;
	}

	.menu-centered .header-search {
		position: relative;
	}

	.logo-side .main-navigation,
	.logo-top .main-navigation {
		position: relative;
	}

	.main-navigation .search-form {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -22px;
		display: block;
	}

	.logo-side .main-navigation .search-form {
		right: 20px;
	}

	.header-search .search-form label {
		position: relative;
		display: inline-block;
	}

	.header-search .search-form .search-field {
		border-radius: 0;
		border: 1px solid transparent;
		background-color: transparent;
		cursor: pointer;
		-webkit-transition: width 300ms ease, background 300ms ease, border 300ms ease;
		transition: width 300ms ease, background 300ms ease, border 300ms ease;
		width: 24px;
		padding-left: 24px;
	}

	.header-search .search-form .search-field:focus {
		border-color: #ddd;
		background-color: #fff;
		cursor: text;
		width: 250px;
		padding-left: 40px;
	}

	.header-search .search-form .search-submit {
		display: none;
	}

	.header-search .search-form label .icon {
		display: block;
		position: absolute;
		left: 12px;
		top: 15px;
		cursor: pointer;
		fill: #888;
	}
}

@media (min-width: 992px) {
	.logo-side .main-navigation {
		position: static;
	}

	.primary-menu > li > a {
		letter-spacing: 2px;
	}
}

@media (min-width: 1200px) {
	.primary-menu > li > a {
		letter-spacing: 3px;
		margin-left: 6px;
		margin-right: 6px;
	}
}

/* Small menu. */
.main-navigation.toggled > ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	font-size: 13px;
	margin-right: 0.5em;
}

@media (min-width: 768px) {
	.menu-toggle,
	.submenu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
## Post Navigation
--------------------------------------------------------------*/
.site-main .post-navigation {
	margin-bottom: 5em;
}

.nav-next a,
.nav-previous a {
	padding: 0 1em;
}

.post-navigation a {
	padding: 1em;
	color: #444;
	font-size: 1.4em;
	line-height: 1.3;
	display: block;
}

.post-navigation a:hover {
	text-decoration: none;
	color: #ce405a;
}

.post-navigation a span {
	display: block;
	text-transform: uppercase;
	margin-bottom: 0.7em;
	font-size: 0.6em;
	color: #767676;
}

.post-navigation .nav-previous a {
	padding-left: 0;
}

.post-navigation .nav-next a {
	padding-right: 0;
}

.post-navigation .nav-previous span:before {
	font-size: 1.3em;
	content: "\2039";
	margin-right: 0.3em;
}

.post-navigation .nav-next span:after {
	font-size: 1.3em;
	content: "\203A";
	margin-left: 0.3em;
}

.navigation.pagination {
	margin-top: 2em;
}

.pagination .nav-links {
	text-align: center;
}

.page-numbers {
	display: inline-block;
	padding: 4px 12px;
	margin-right: 4px;
	margin-bottom: 8px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.page-numbers.dots {
	opacity: 0.5;
	border: none;
}

a.page-numbers {
	color: #767676;
}

.page-numbers.current,
a.page-numbers:hover {
	background-color: #ce405a;
	color: #fff;
}

.widget a.page-numbers {
	text-decoration: none;
}

.widget a.page-numbers:hover {
	color: #fff;
	text-decoration: none;
}

/*--------------------------------------------------------------
## Social Navigation
--------------------------------------------------------------*/

.jetpack-social-navigation {
	text-align: center;
	margin: 0 0 20px 0;
}

@media (min-width: 992px) {
	.jetpack-social-navigation {
		float: right;
		margin: 0 0 0 20px;
	}
}

.jetpack-social-navigation ul.menu {
	margin: 0;
}

.jetpack-social-navigation a {
	font-size: 24px;
	color: #aaa;
}

.jetpack-social-navigation a:hover {
	color: #ce405a;
}
